# Configurações do Aplicativo (Modelo/Exemplo)
spring.application.name=ironboxing-api

# Variáveis do Banco de Dados PostgreSQL (devem ser fornecidas externamente via Environment Variables)
# Exemplo de valores a serem configurados em seu ambiente:
# DB_URL=jdbc:postgresql://localhost:5432/academia
# DB_USERNAME=postgres
# DB_PASSWORD=sua_senha_secreta

spring.datasource.url=${DB_URL}
spring.datasource.username=${DB_USERNAME}
spring.datasource.password=${DB_PASSWORD}
spring.datasource.driver-class-name=org.postgresql.Driver
spring.jpa.hibernate.ddl-auto=validate

# Configurações de Segurança JWT
# JWT_SECRET_KEY=sua_chave_secreta_com_pelo_menos_256_bits_em_base64
security.jwt.secret-key=${JWT_SECRET_KEY}
security.jwt.expiration-time=86400000
